*_print.tex
*_beta_*.tex
*_manuscript.tex
*.epub
*.pdf
*.mobi
*.azw3
*.docx
*.aux
*.log
*.dvi
*.toc
*.fls*
*.fdb*
*.idx
*.ilg
*.ind
*.synctex.gz
**/_minted-*/
_minted-*/
.*.iCloud
.DS_Store
.python-version
**/auto
.chapters.tex
**/.chapters.tex
_shared
**/*_journal.tex
